WebMVC/Connected Services/ServiceReferenceUsuario/ServiceUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceUsuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SLWCF" />
      <xsd:import schemaLocation="http://localhost:56456/UsuarioService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceUsuario_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_CambiarStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarStatus" />
  </wsdl:message>
  <wsdl:message name="IServiceUsuario_CambiarStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceUsuario">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/Add" message="tns:IServiceUsuario_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/AddResponse" message="tns:IServiceUsuario_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/Update" message="tns:IServiceUsuario_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/UpdateResponse" message="tns:IServiceUsuario_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/Delete" message="tns:IServiceUsuario_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/DeleteResponse" message="tns:IServiceUsuario_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/GetAll" message="tns:IServiceUsuario_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/GetAllResponse" message="tns:IServiceUsuario_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/GetById" message="tns:IServiceUsuario_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/GetByIdResponse" message="tns:IServiceUsuario_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceUsuario/CambiarStatus" message="tns:IServiceUsuario_CambiarStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceUsuario/CambiarStatusResponse" message="tns:IServiceUsuario_CambiarStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceUsuario" type="tns:IServiceUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarStatus">
      <soap:operation soapAction="http://tempuri.org/IServiceUsuario/CambiarStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceUsuario">
    <wsdl:port name="BasicHttpBinding_IServiceUsuario" binding="tns:BasicHttpBinding_IServiceUsuario">
      <soap:address location="http://localhost:56456/UsuarioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>